@import "tailwindcss";

html,
body,
#app {
   height: 100vh;
   width: 100vw;
}

html.dark {
   color-scheme: dark;
}

body {
   /* overflow: hidden; */
}

/* For print CSS */
.page-break {
   page-break-after: always;
   page-break-before: always;
}

.fade-zoom-enter-active,
.fade-zoom-leave-active {
   transition:
      opacity 0.2s ease,
      transform 0.3s ease;
}

.fade-zoom-enter-from,
.fade-zoom-leave-to {
   opacity: 0;
   transform: scale(0.9);
}

.fade-zoom-enter-to,
.fade-zoom-leave-from {
   opacity: 1;
   transform: scale(1);
}
